<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width"  />
  <title>Filmkeep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'gems', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body-bg">
  <div class="container">
    <div growl></div>
    
    <div class="row">
      <div class="col-xs-12">
          <div class="login-logo"><%= image_tag('filmkeep-logo-large.png') %></div>
          <% if notice%>
          <div class="alert-box alert no-header no-angular  alert-dismissible" ><button type="button" onclick="$('.alert-box').remove();" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= notice %> </div>
          <% end %>
          <% if alert%>
          <div class="alert-box alert alert-error alert-danger no-header no-angular  alert-dismissible" ><button type="button" onclick="$('.alert-box').remove();" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= alert %></div>
          <% end %>
            <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
