<!DOCTYPE html>
<html>
<head>
  <title>Filmkeep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body-bg">
  <div class="container">
    <% if notice%>
    <div class="alert-box alert no-header" close-me="3000"><%= notice %></div>
    <% end %>
    <% if alert%>
    <div class="alert-box alert alert-error alert-danger no-header" close-me="3000"><%= alert %></div>
    <% end %>
    <div class="row">
      <div class="col-md-12">
          <div class="login-logo"><%= image_tag('filmkeep-logo-large.png') %></div>
            <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
